pipeline/pipeline4.json
{
	"name": "pipeline4",
	"properties": {
		"activities": [
			{
				"name": "length",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "length",
					"value": "10"
				}
			},
			{
				"name": "width",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "width",
					"value": "30"
				}
			},
			{
				"name": "area",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "length",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "width",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "area",
					"value": {
						"value": "@{mul(int(variables('length')),int(variables('width')))}\n ",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"length": {
				"type": "String"
			},
			"width": {
				"type": "String"
			},
			"area": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Copy Data/Area test"
		},
		"annotations": []
	}
}